@import './styles/variables';

.layout {
	height: 100%;

	.page-body {
		min-height: 100%;
		background-color: $colorBg;
		padding-left: $sidebarWidth;

		@media (max-width: 768px) {
			padding-left: 0;
		}
	}
}
