@import './styles/variables';

.date-range-filter {
	white-space: nowrap;

	@media (max-width: $bp-mobile) {
		width: 100%;
	}

	.filter-input {
	}

	.react-datepicker-wrapper {
		margin-left: 10px;

		@media (max-width: $bp-mobile) {
			width: calc(50% - 4px);
			margin: 0px;
			&:first-child {
				margin-right: 8px;
			}
		}

		input {
			width: 120px;
			font-size: 0.8rem;
			padding: 5px;

			@media (max-width: $bp-mobile) {
				width: 100%;
			}
		}
	}
	.react-datepicker__tab-loop {
		display: inline-block;
		position: relative;

		@media (max-width: $bp-mobile) {
			flex: 0;
			max-width: 0;
		}

		.react-datepicker-popper {
			transform: translate3d(-175px, 9px, 0px) !important;
			z-index: 10;

			@media (max-width: $bp-mobile) {
				transform: translate3d(calc(-100% + 20px), 12px, 0px) !important;
			}

			.react-datepicker__triangle {
				left: calc(50% - 8px);
			}
		}
	}

	.date-highlight {
		font-weight: 700;
		color: $colorSecondary;
	}

	.btn {
		margin-left: 10px;
	}
}
