@import './styles/variables';

.date-range-filter {
	flex: 1;
	white-space: nowrap;

	@media (max-width: 768px) {
		width: 100%;
		text-align: center;
	}

	.react-datepicker-wrapper {
		width: auto;
		margin-left: 10px;

		input {
			width: 120px;
			font-size: 0.8rem;
			padding: 5px;

			@media (max-width: 768px) {
				width: 90px;
			}
		}
	}
	.react-datepicker__tab-loop {
		display: inline-block;
		position: relative;

		.react-datepicker-popper {
			transform: translate3d(-175px, 9px, 0px) !important;
			z-index: 10;

			@media (max-width: 768px) {
				transform: translate3d(-155px, 12px, 0px) !important;
			}

			.react-datepicker__triangle {
				left: calc(50% - 8px);
			}
		}
	}

	.date-highlight {
		font-weight: 600;
		color: $colorSecondary;
	}

	.btn {
		margin-left: 10px;
	}
}
