@import './styles/variables';

.menu {
	a {
		span {
			display: inline-block;
			width: 18px;
			margin-right: 10px;
			text-align: center;
		}

		&:hover {
			span {
				color: $colorSecondary;
			}
		}
	}
}
