@import './styles/variables';

.expense-modal {
	.row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.col {
			&:last-child {
				text-align: right;
			}
		}
	}

	.info-item {
		padding: 10px 0px;

		.info-label {
			font-size: 0.8rem;
			margin-bottom: 8px;
			font-weight: 400;
		}
	}
}
