.btn {
	border: 2px solid white;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	padding: 1px 4px;
	text-align: center;

	&.btn-primary {
		background-color: $colorPrimary;
		border-color: $colorPrimary;
		color: white;
	}

	&.btn-secondary {
		background-color: $colorSecondary;
		border-color: $colorSecondary;
		color: white;
	}

	&.btn-inverse {
		border-color: white;
		background-color: white;
		color: $colorPrimary;
	}

	&.btn-feature {
		height: 34px;
		padding: 0px 20px;
		font-size: 0.8rem;
	}

	&.btn-icon {
		width: 26px;
		height: 26px;
		font-size: 1rem;
	}

	&[disabled] {
		border-color: white;
		background-color: white;
		color: $colorPrimary;
		opacity: 0.4;
		cursor: default;
	}
}

.btn-wrap-right {
	text-align: right;
}
.btn-wrap-center {
	text-align: center;
}
