@import './styles/variables';

input {
	background-color: white;
	border: 1px solid $colorDivider;
	border-radius: 3px;
	min-height: 30px;
	font-weight: 300;
}

select {
	font-family: $fontPrimary;
	font-weight: 300;
	font-size: 0.8rem;
	height: 30px;
	padding: 0px 10px;
	appearance: none;
	background-image: url('./images/chevron-down.svg');
	background-color: white;
	background-position: right 10px bottom 43%;
	background-size: 11px;
	background-repeat: no-repeat;
	border: 1px solid $colorDivider;
	border-radius: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

select::-ms-expand {
	display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

textarea {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	min-height: 80px;
	background-color: white;
	border: 0.075rem solid #ddd;
	border-radius: 0.25rem;
	padding: 10px;
	font-size: 0.8rem;
	font-weight: 300;
}

@mixin statusMsg($msgColor: $colorPrimary) {
	color: $msgColor;
	font-weight: 400;
	font-size: 0.7rem;
	font-style: italic;
}

.error-msg {
	@include statusMsg($colorWarning);
}

.success-msg {
	@include statusMsg($colorSuccess);
}