@import './styles/variables';

html,
body,
#root {
	height: 100%;
}

* {
	box-sizing: border-box;

	&:focus {
		outline: none;
		box-shadow: inset 0 0 0 2px $colorSecondary;
	}
}

html {
	overflow: hidden;
}

body {
	overflow: scroll;
	margin: 0;
	padding: 0;
	font-family: $fontPrimary;
	font-weight: 300;
	font-size: 12px;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.3rem;
}

h3 {
	font-size: 1.1rem;
}

h4 {
	font-size: 1rem;
	font-weight: 300;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
textarea {
	font-family: $fontPrimary;
}

strong {
	font-weight: 700;
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.hidden-desktop {
	@media (min-width: 769px) {
		display: none;
	}
}
.hidden-mobile {
	@media (max-width: $bp-mobile) {
		display: none;
	}
}
