// Colors

$colorPrimary: #38072b;
$colorSecondary: #55d6be;
$colorBg: #f9f2e8;
$colorWarning: #f95738;
$colorSuccess: #4daa57;

$colorTextDark: #201921;
$colorTextLight: $colorBg;
$colorDivider: lighten($colorTextDark, 80%);

// Text/Font Styles

$fontPrimary: 'Lato', sans-serif;

// Layout sizing

$sidebarWidth: 200px;
$sidebarWidthMobile: 150px;

// Breakpoints
$bp-mobile: 768px;
$bp-desktop: 1024px;
