@import './styles/variables';

.expenses-page {
	.actions,
	.footer {
		font-size: 0.8rem;
		z-index: $z-index-toolbars;
	}

	.actions {
		background-color: darken($colorBg, 10%);
		text-align: right;
		padding: 8px 20px;
		position: fixed;
		top: 60px;
		width: calc(100% - #{$sidebarWidth});

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	.number-of-entries {
		.btn {
			&:not(:first-child) {
				margin-left: 10px;
			}
		}
	}

	.footer {
		position: absolute;
		bottom: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 14px 20px 14px $sidebarWidth + 20px;
		background-color: darken($colorBg, 10%);

		@media (max-width: 768px) {
			padding-left: 20px;
		}
	}
}
