@import './styles/variables';

.expenses-page {
	.actions {
		background-color: darken($colorBg, 10%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 6px 20px;
		font-size: 0.7rem;
		margin-bottom: 10px;

		> * {
			flex: 1;
		}

		.btn {
			margin-left: 10px;
		}

		.filter {
			flex: 1;
			white-space: nowrap;

			.react-datepicker-wrapper {
				width: auto;
			}
			.react-datepicker__tab-loop {
				display: inline-block;
			}
		}
	}
}
