@import './styles/variables';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: $z-index-modal;

	&.active {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.modal-overlay {
		position: fixed;
		z-index: $z-index-modal-overlay;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $colorOverlay;
	}

	.modal-container {
		width: 400px;
		background-color: $colorBg;
		padding: 20px;
		z-index: $z-index-modal;
		position: relative;

		.modal-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid $colorDivider;
			padding-bottom: 20px;
		}

		.modal-content {
			padding: 10px 0px 0px;
		}
	}
}
