@import './styles/variables';

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	z-index: $z-index-modal;

	.modal-overlay {
		position: fixed;
		z-index: $z-index-modal-overlay;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $colorOverlay;
		opacity: 1;
	}

	.modal-container {
		width: 400px;
		background-color: $colorBg;
		z-index: $z-index-modal;
		position: relative;
		max-height: 650px;
		overflow-y: scroll;
		overflow-x: hidden;

		.modal-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 10px 0px;
		}

		.modal-content {
			padding: 20px 20px 20px;
		}
	}

	@media (max-width: 430px), (max-height: 630px) {
		padding: 15px;

		.modal-container {
			width: 100%;
			height: 100%;
			max-width: 400px;
			margin: 0 auto;
		}
	}
}
