@import './styles/variables';

.modal {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;

	&.active {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.modal-overlay {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.modal-container {
		width: 400px;
		background-color: $colorBg;
		padding: 20px;
		z-index: 2;
		position: relative;

		.modal-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid $colorDivider;
			padding-bottom: 20px;
		}

		.modal-content {
			padding: 10px 0;
		}
	}
}
