@import './styles/variables';

.category-select {
	display: flex;
	justify-content: space-between;
	align-items: center;

	select {
		height: 34px;
		width: 200px;

		@media (max-width: $bp-mobile) {
			width: calc(100% - 80px);
			max-width: 200px;
		}
	}
}
