@import './styles/variables';

.expenses-list {
	padding-bottom: 80px;

	.expense {
		font-size: 1em;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $colorDivider;
		padding: 10px 20px;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: darken($colorBg, 5%);
			transition: background-color 0.2s ease;
		}

		*:last-child,
		*:nth-last-child(2) {
			text-align: right;
		}

		> * {
			flex: 1;
		}

		.currency,
		.comment,
		.images,
		.date,
		.amount {
			flex: 0;
		}

		.date {
			min-width: 100px;
		}

		.currency {
			min-width: 50px;
		}

		.amount {
			min-width: 100px;
		}

		.comment,
		.images {
			font-size: 14px;
			min-width: 40px;
			text-align: center;
			color: $colorSecondary;
			position: relative;

			.info-tip {
				display: none;
				position: absolute;
				top: calc(100% + 10px);
				left: 5px;
				background-color: white;
				padding: 10px;
			}

			&:hover {
				.info-tip {
					display: block;
				}
			}
		}
	}
}
