@import './styles/variables';

.expenses-list {
	padding-top: 46px;
	padding-bottom: 100px;
	background-color: white;
	min-height: 100vh;

	.legend,
	.expense {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 20px;

		*:last-child,
		*:nth-last-child(2) {
			text-align: right;
		}

		> * {
			flex: 1;
		}

		.currency,
		.comment,
		.images,
		.date,
		.amount {
			flex: 0;
		}
		.date {
			min-width: 100px;

			@media (max-width: 768px) {
			}
		}

		.currency {
			min-width: 50px;
		}

		.amount {
			min-width: 100px;
		}

		.comment,
		.images {
			min-width: 40px;
		}
	}

	.legend {
		font-weight: 600;
		position: absolute;
		background-color: $colorBg;
		padding: 15px 20px 10px;
		width: calc(100% - #{$sidebarWidth});

		// box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
		z-index: $z-index-legend;

		@media (max-width: 768px) {
			display: none;
		}
	}
	.legend-buffer {
		height: 46px;

		@media (max-width: 768px) {
			display: none;
		}
	}

	.expense {
		font-size: 1em;
		width: 100%;
		border-bottom: 1px solid $colorDivider;
		height: 34px;
		transition: background-color 0.3s ease;

		&:last-child {
			border: none;
		}

		&:hover {
			background-color: darken($colorBg, 5%);
			transition: background-color 0.2s ease;
		}

		.comment,
		.images {
			font-size: 14px;
			text-align: center;
			position: relative;

			span {
				color: $colorSecondary;
			}

			.info-tip {
				display: none;
				z-index: 1;
				position: absolute;
				top: calc(100% + 10px);
				background-color: white;
				left: 50%;
				transform: translateX(-50%);
				padding: 10px;
				box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
				border: 2px solid lighten($colorTextDark, 70%);

				&:before {
					content: '';
					position: absolute;
					top: -8px;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid lighten($colorTextDark, 70%);
				}

				> div {
					position: relative;
					overflow: hidden;
				}
			}

			&:hover {
				.info-tip {
					display: block;
				}
			}
		}

		.comment {
			.info-tip {
				width: 200px;

				> div {
					$infoTipHeight: 160px;
					$fadeHeight: 100px;

					max-height: $infoTipHeight;
					text-align: left;

					&:after {
						content: '';
						width: 100%;
						height: $fadeHeight;
						background: linear-gradient(rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 90%);
						position: absolute;
						top: calc(#{$infoTipHeight} - #{$fadeHeight});
						left: 0;
					}
				}
			}
		}

		.images {
			.info-tip {
				width: 80px;

				> div {
					text-align: center;
				}
			}
		}
	}

	@media (max-width: 768px) {
		display: block;
		padding-top: 10px;

		.expense {
			height: auto;
			padding-top: 10px;
			padding-bottom: 10px;
			display: grid;
			grid-template-columns: repeat(3, 3fr);
			grid-template-rows: auto;
			grid-template-areas:
				'date  col2  .'
				'merchant . amount'
				'user col3 currency';

			.date {
				grid-area: date;
			}
			.merchant {
				grid-area: merchant;
				font-weight: 500;
				font-size: 0.8rem;
				margin: 5px 0px;
			}
			.user {
				grid-area: user;
			}

			.category,
			.comment,
			.images {
				display: none;
				grid-area: col2;
				background-color: red;
			}
			.amount {
				grid-area: amount;
				font-weight: 600;
				font-size: 1rem;
			}
			.currency {
				grid-area: currency;
			}
		}
	}
}
