@import './styles/variables';

.expenses-list {
	padding-bottom: 80px;

	.expense {
		font-size: 1em;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $colorDivider;
		padding: 0px 20px;
		height: 34px;
		transition: background-color 0.3s ease;

		@media (max-width: 768px) {
			display: block;
			height: auto;
		}

		&:hover {
			background-color: darken($colorBg, 5%);
			transition: background-color 0.2s ease;
		}

		*:last-child,
		*:nth-last-child(2) {
			text-align: right;
		}

		> * {
			flex: 1;
		}

		.currency,
		.comment,
		.images,
		.date,
		.amount {
			flex: 0;
		}

		.date {
			min-width: 100px;

			@media (max-width: 768px) {
			}
		}

		.currency {
			min-width: 50px;
		}

		.amount {
			min-width: 100px;
		}

		.comment,
		.images {
			font-size: 14px;
			min-width: 40px;
			text-align: center;
			position: relative;

			span {
				color: $colorSecondary;
			}

			.info-tip {
				display: none;
				z-index: 1;
				position: absolute;
				top: calc(100% + 10px);
				background-color: white;
				padding: 10px;
				box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
				border: 2px solid lighten($colorTextDark, 70%);

				&:before {
					content: '';
					position: absolute;
					top: -8px;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 8px solid lighten($colorTextDark, 70%);
				}

				> div {
					position: relative;
					overflow: hidden;
				}
			}

			&:hover {
				.info-tip {
					display: block;
				}
			}
		}

		.comment {
			.info-tip {
				width: 200px;
				left: -80px;

				> div {
					$infoTipHeight: 160px;
					$fadeHeight: 100px;

					max-height: $infoTipHeight;
					text-align: left;

					&:after {
						content: '';
						width: 100%;
						height: $fadeHeight;
						background: linear-gradient(rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 90%);
						position: absolute;
						top: calc(#{$infoTipHeight} - #{$fadeHeight});
						left: 0;
					}
				}
			}
		}

		.images {
			.info-tip {
				width: 80px;
				left: -20px;

				> div {
					text-align: center;
				}
			}
		}
	}
}
